body{
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 1008px) {
  #displayMainNight{
    /* background-image: url(./Animations/homeNightLarge.gif); */
    background-color: #070b47;
    width: 100vw;
    height: 100vh;
    position: fixed;
  }


  #displayMainNight > :nth-child(1) :nth-child(1){
    background-image: url(./Animations/homeNight1.gif);
    background-size: 300px;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: fixed;
    z-index: -1;
  }  

  #displayMainNight > *{
    text-align: center;
    color: white;
  }

  #displayMainMorn{
    /* background-image: url(./Animations/cloudyWeather.svg); */
    background-color: #55aacd;
    width: 100vw;
    height: 100vh;
    position: fixed;
  }

  #displayMainMorn > :nth-child(1) :nth-child(1){
    background-image: url(./Animations/homeMorn1.gif);
    background-size: 300px;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: fixed;
    z-index: -1;
  }  
  
  #displayMainMorn > *{
    text-align: center;
    color: black;
  }
}

@media screen and (min-width: 641px) and (max-width: 1007px) {
  #displayMainNight{
    /* background-image: url(./Animations/homeNightMedium.gif); */
    background-color: #070b47;
    width: 100vw;
    height: 100vh;
    position: fixed;
  }

  #displayMainNight > :nth-child(1) :nth-child(1){
    background-image: url(./Animations/homeNight1.gif);
    background-size: 200px;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: fixed;
    z-index: -1;
  }  
  
  #displayMainNight > *{
    text-align: center;
    color: white;
  }

  #displayMainMorn{
    /* background-image: url(./Animations/homeMorn.gif); */
    background-color: #55aacd;
    width: 100vw;
    height: 100vh;
    position: fixed;
   
  }

  #displayMainMorn > :nth-child(1) :nth-child(1){
    background-image: url(./Animations/homeMorn1.gif);
    background-size: 200px;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: fixed;
    z-index: -1;
  }  
  
  #displayMainMorn > *{
    text-align: center;
    color: black;
  }

}

@media screen and (max-width: 640px) {
  #displayMainNight{
    /* background-image: url(./Animations/homeNightSmall.gif); */
    background-color: #070b47;
    width: 100vw;
    height: 100vh;
    position: fixed;
  }

  #displayMainNight > :nth-child(1) :nth-child(1){
    background-image: url(./Animations/homeNight1.gif);
    background-size: 150px;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: fixed;
    z-index: -1;
  }  
  
  #displayMainNight > *{
    text-align: center;
    color: white;
  }

  #displayMainMorn{
    /* background-image: url(./Animations/homeMorn.gif); */
    background-color: #55aacd;
    width: 100vw;
    height: 100vh;
    position: fixed;
  }

  #displayMainMorn > :nth-child(1) :nth-child(1){
    background-image: url(./Animations/homeMorn1.gif);
    background-size: 150px;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: fixed;
    z-index: -1;
  }  
  
  #displayMainMorn > *{
    text-align: center;
    color: black;
  }

}

.display > :nth-child(3){
  display: flex;
  flex-direction: column;
  align-items: center;
}

.display > :nth-child(2){
  text-transform: uppercase;
  font-size: 35px;
}

.display > :nth-child(3) input{
  margin-bottom: 10px;
  padding: 7px 0 7px 7px;
  border: 0;
  border-radius: 14px;
  font-size: 15px;
}

.display > :nth-child(3) button{
  border: 0;
  background: #0073ba;
  background-image: -webkit-linear-gradient(top, #0073ba, #c4c4c2);
  background-image: -moz-linear-gradient(top, #0073ba, #c4c4c2);
  background-image: -ms-linear-gradient(top, #0073ba, #c4c4c2);
  background-image: -o-linear-gradient(top, #0073ba, #c4c4c2);
  background-image: linear-gradient(to bottom, #0073ba, #c4c4c2);
  -webkit-border-radius: 26;
  -moz-border-radius: 26;
  border-radius: 26px;
  -webkit-box-shadow: 7px 5px 14px #666666;
  -moz-box-shadow: 7px 5px 14px #666666;
  box-shadow: 7px 5px 14px #666666;
  font-family: Arial;
  color: #f7eff7;
  font-size: 15px;
  padding: 8px 17px 8px 17px;
  text-decoration: none;
}

/* for night */




/* Weather Component CSS Below */

.weatherMain{
  display: flex;
  flex-direction: column;

}

.weatherMain > *{
  flex: 1 1 auto;
  backdrop-filter: blur(2px) brightness(80%);
}

.weatherMainUpper{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.weatherIcons{
  flex-basis: 33.333333%;
  max-width: 33.333333%;
  font-size: 30px;
}

.weatherIcons > *{
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  padding: 1px 10px;
  margin: 30px 0 0 30px;
  position: relative;
  background-image: linear-gradient(to right, rgba(118, 167, 187, 0.644), rgba(243, 243, 92, 0.698))
}

.weatherLoader{
  padding-top: 40vh;
  text-align: center;
}

#weatherClearMorn{
  background-image: url(./Animations/clearMornWeather.svg);
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  background-size: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

#weatherClearNight{
  background-image: url(./Animations/clearNightWeather.svg);
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  background-size: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

#weatherClearNight > * {
  color: white;
}

#weatherFoggyMorn{
  background-image: url(./Animations/foggyMornWeather.svg);
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  background-size: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}


#weatherFoggyNight{
  background-image: url(./Animations/foggyNightWeather.svg);
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  background-size: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

#weatherFoggyNight > *{
  color: white;
}

#weatherCloudyMorn{
  background-image: url(./Animations/cloudyMornWeather.svg);
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  background-size: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}


#weatherCloudyNight{
  background-image: url(./Animations/cloudyNightWeather.svg);
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  background-size: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

#weatherCloudyNight > *{
  color: white;
}

#weatherRainMorn{
  background-image: url(./Animations/rainMornWeather.svg);
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  background-size: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

#weatherRainNight{
  background-image: url(./Animations/rainNightWeather.svg);
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  background-size: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

#weatherRainNight > *{
  color: white;
}

.weatherMainData{
  flex-basis: 33.333333%;
  max-width: 33.333333%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding-top: 20px;
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.weatherMainData > *:not(.weatherMainData h1, .weatherMainData h2){
  font-weight: 500;
}

.weatherMainData h1{
  font-size: 25px;
  font-weight: 600;
  padding: 0;
  margin: 0;
  white-space: nowrap;
}

.weatherMainData h2{
  font-size: 60px;
  font-weight: 100;
  padding: 0;
  margin: 0;
}


/* weatherBottom */

.weatherMainBottom{
  width: 100vw;
}

.weatherMainBottom > * {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-bottom: 2px solid whitesmoke;
  margin: 0 5vw;
}

.weatherMainBottom > * > *{
  flex-basis: 50%;
  max-width: 50%;
  text-align: center;
  display: flex;
  flex-direction: column;
  color: whitesmoke;
  margin: 15px 0;
}

.weatherMainBottom > * > * :nth-child(2){
  font-size: 30px;
}

@media screen and (min-width: 321px) and (max-width: 750px){
  .weatherMainData{
    font-size: 13px;
  }

  .weatherMainData h1{
    font-size: 20px;
    white-space: nowrap;
  }

  .weatherMainData h2{
    font-size: 50px;
  }

  .weatherIcons{
    font-size: 25px;
  }

}

@media screen and (max-width: 320px){
  .weatherMainData{
    font-size: 10px;
  }

  .weatherMainData h1{
    font-size: 15px;
    white-space: nowrap;
  }

  .weatherMainData h2{
    font-size: 40px;
  }

  .weatherIcons{
    font-size: 20px;
  }

  .weatherMainBottom > * > * :nth-child(2){
    font-size: 25px;
  }
}